.lottery_wrap .header .game_type .logo_type {
    width: 116px;
    height: 44px;
    background: url(/public/img/score/ui_game/v2/sp_logotype.svg) no-repeat 0 0;
    margin-left: 15px
}



.powerball.dark{
    background: url(/assets/images/pick/power_back.png);
}

.lottery_wrap .header .game_type .type_img {
    position: absolute;
    left: 30px;
    bottom: -15px
}

.lottery_wrap .pick_graph .graph_tit {
    width: 70px;
    height: 25px;
    background: url(/public/img/score/ui_game/v2/sp_powerball.png?v=200118) no-repeat;
    transform: scale(.9);
    z-index: 10;
    font-family: swagger, sans-serif;
    line-height: 1.6em;
    font-size: 17px;
    color: rgba(0, 0, 0, .5)
}

.lottery_wrap .pick_graph .graph_tit.white {
    color: #fff
}

.lottery_wrap .pick_graph .bms_tit {
    width: 26px;
    height: 26px;
    background: url(/public/img/score/ui_game/v2/sp_powerball.png?v=200118) no-repeat;
    transform: scale(.9);
    z-index: 10;
    font-family: swagger, sans-serif;
    line-height: 1.6em;
    font-size: 17px;
    color: rgba(0, 0, 0, .5)
}

.lottery_wrap .pick_graph .bms_tit.white {
    color: #fff
}

.lottery_wrap .contents .curr_pick .pick_graph>li.bms_wrap>div {
    flex: 1
}

.lottery_wrap .contents .curr_pick .pick_graph>li.bms_wrap>div:nth-of-type(2) {
    margin: 0 10px
}

.lottery_wrap .contents .curr_pick .pick_graph>li.bms_wrap .fill_wrap {
    flex: 1;
    height: 15px;
    background-color: #cacaca;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    margin-left: -8px;
    position: relative
}

.lottery_wrap .contents .curr_pick .pick_graph>li.bms_wrap .fill_wrap>p {
    left: 13px;
    line-height: 1.6em
}

.lottery_wrap .contents .curr_pick .pick_graph>li.bms_wrap .fill_wrap .gauge {
    height: 100%
}

.lottery_wrap .pick_graph .graph_tit.p_oe {
    background-position: 0 -150px
}

.lottery_wrap .pick_graph .graph_tit.p_oe.left_on {
    background-position: -76px -150px
}

.lottery_wrap .pick_graph .graph_tit.p_oe.right_on {
    background-position: -152px -150px
}

.lottery_wrap .pick_graph .graph_tit.p_ou {
    background-position: 0 -178px
}

.lottery_wrap .pick_graph .graph_tit.p_ou.left_on {
    background-position: -76px -178px
}

.lottery_wrap .pick_graph .graph_tit.p_ou.right_on {
    background-position: -152px -178px
}

.lottery_wrap .pick_graph .graph_tit.b_oe {
    background-position: 0 -206px
}

.lottery_wrap .pick_graph .graph_tit.b_oe.left_on {
    background-position: -76px -206px
}

.lottery_wrap .pick_graph .graph_tit.b_oe.right_on {
    background-position: -152px -206px
}

.lottery_wrap .pick_graph .graph_tit.b_ou {
    background-position: 0 -234px
}

.lottery_wrap .pick_graph .graph_tit.b_ou.left_on {
    background-position: -76px -234px
}

.lottery_wrap .pick_graph .graph_tit.b_ou.right_on {
    background-position: -152px -234px
}

.lottery_wrap .pick_graph .bms_tit.big {
    background-position: 0 -264px
}

.lottery_wrap .pick_graph .bms_tit.big.on {
    background-position: -30px -264px
}

.lottery_wrap .pick_graph .bms_tit.middle {
    background-position: 0 -292px
}

.lottery_wrap .pick_graph .bms_tit.middle.on {
    background-position: -30px -292px
}

.lottery_wrap .pick_graph .bms_tit.small {
    background-position: 0 -320px
}

.lottery_wrap .pick_graph .bms_tit.small.on {
    background-position: -30px -320px
}

.lottery_wrap .contents .side .result_history>li {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #f3f3f3
}

.lottery_wrap .contents .side .result_history>li:not(:last-child) {
    margin-bottom: 8px
}




.lottery_wrap .contents .side .result_history .balls_wrap>div .result_ball:not(:nth-last-of-type(1)) {
    margin-right: 2px
}

.lottery_wrap .contents .side .result_history .balls_wrap>div:nth-last-of-type(1) {
    margin-top: 4px
}

.result_ball {
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    display: block;
    font-weight: 900;
}


.lottery_wrap .contents .center {
    padding: 10px
}

.lottery_wrap .contents .center .tit_wrap {
    margin-bottom: 5px
}

.lottery_wrap .contents .center .curr_pick_guide {
    margin-top: 5px;
    font-size: 10px;
    color: #999
}

.lottery_wrap .contents .center .powerball_board {
    background-color: #000;
    width: 266px;
    height: 266px;
    margin-bottom: 10px;
    box-sizing: border-box
}

.lottery_wrap .contents .center .pick_graph>li:not(:last-child) {
    margin-bottom: 4px
}

.lottery_wrap.dark .game_type .logo_type {
    background-position: -128px 0
}

.lottery_wrap.dark .center .ai_pick {
    background-color: #0d1122;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .5);
    border: 1px solid #252d47
}

.lottery_wrap.dark .center .ai_pick>ul>li {
    background-color: #182037;
    border: 1px solid #1e253a
}

.lottery_wrap.dark .center .curr_pick .pick_graph .bms_wrap .fill_wrap {
    background-color: #2f364b
}

.lottery_wrap.dark .contents .side .result_history .round {
    border-bottom: 1px solid #1d3c5e;
}

.lottery_wrap.dark .center .move_btn {
    background-color: rgba(255, 255, 255, .4)
}

.lottery_wrap.dark .center .move_btn:after {
    color: #182037;
    font-weight: 700
}

.lottery_wrap.dark .center .move_btn:hover {
    background-color: rgba(255, 255, 255, .8)
}

#result_board {
    position: relative;
    width: 450px;
    height: 378px;
    overflow: hidden;
    margin-top: 30px
}

.full_size {
    background-size: 450px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#div_background_wall {
    background: url(/public/img/score/powerball/background_wall.gif) no-repeat;
    background-size: 266px 266px
}

#div_background_wall.red {
    background: url(/public/img/score/powerball/background_wall_red.gif) no-repeat;
    background-size: 266px 266px
}

#div_machine_circle {
    background: url(/public/img/score/powerball/machine_circle.png) no-repeat;
    background-size: 266px 266px
}

#div_machine_light_side {
    background: url(/public/img/score/powerball/machine_light_side.png) no-repeat;
    background-size: 266px 266px
}

#div_machine_glass {
    background: url(/assets/images/pick/ball-container.png) no-repeat;
}

#div_sadari_machine_glass {
    background: url(/assets/images/pick/sadari-machine.png) no-repeat;
}

#div_machine_bottom {
    background: url(/public/img/score/powerball/machine_bottom.png) no-repeat;
    background-size: 266px 266px
}

#div_machine_bottom.red {
    background: url(/public/img/score/powerball/machine_bottom_red.png) no-repeat;
    background-size: 266px 266px
}

#sprite-result-bar {
    position: absolute;
    top: 171px;
    left: 0;
    width: 266px;
    height: 100px
}

#sprite-result-ball-effect {
    position: absolute;
    top: 176px;
    left: -28px;
    width: 124px;
    height: 124px
}

#sprite-result-ball-1 {
    position: absolute;
    top: 188px;
    left: -13px;
    width: 100px;
    height: 100px
}

#sprite-result-ball-2 {
    position: absolute;
    top: 188px;
    left: 26px;
    width: 100px;
    height: 100px
}

#sprite-result-ball-3 {
    position: absolute;
    top: 188px;
    left: 65px;
    width: 100px;
    height: 100px
}

#sprite-result-ball-4 {
    position: absolute;
    top: 188px;
    left: 104px;
    width: 100px;
    height: 100px
}

#sprite-result-ball-5 {
    position: absolute;
    top: 188px;
    left: 143px;
    width: 100px;
    height: 100px
}

#sprite-result-powerball-effect-2 {
    position: absolute;
    top: 97px;
    left: 97px;
    width: 260px;
    height: 260px
}

#sprite-result-powerball-effect {
    position: absolute;
    top: 174px;
    left: 169px;
    width: 124px;
    height: 124px
}

#sprite-result-powerball {
    position: absolute;
    top: 188px;
    left: 181px;
    width: 100px;
    height: 100px
}

#result_ball_1 {
    position: absolute;
    top: 229px;
    left: 20px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.1em;
    text-shadow: 3px 3px 3px 3px gray
}

#result_ball_2 {
    position: absolute;
    top: 229px;
    left: 59px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.1em;
    text-shadow: 3px 3px 3px 3px gray
}

#result_ball_3 {
    position: absolute;
    top: 229px;
    left: 98px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.1em;
    text-shadow: 3px 3px 3px 3px gray
}

#result_ball_4 {
    position: absolute;
    top: 229px;
    left: 137px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.1em;
    text-shadow: 3px 3px 3px 3px gray
}

#result_ball_5 {
    position: absolute;
    top: 229px;
    left: 176px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.1em;
    text-shadow: 3px 3px 3px 3px gray
}

#result_powerball {
    position: absolute;
    top: 229px;
    left: 215px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.1em;
    text-shadow: 3px 3px 3px 3px gray
}

#btn_skip {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-weight: 700
}

#score_board {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.5)
}

#score_board .curr_round {
    font-size: 20px;
    line-height: 1.3em;
    color: #fff;
    font-family: swagger, sans-serif
}

#score_board .curr_round strong {
    font-size: 26px;
    color: #fff
}

#score_board .curr_round span {
    color: #aaa
}

#div_machine_result_board {
    position: absolute;
    top: 0;
    left: 0;
    width: 266px;
    height: 266px;
    background: url(/public/img/score/powerball/result_board.png) no-repeat;
    background-size: 266px 266px
}

#div_machine_result_board.red {
    position: absolute;
    top: 0;
    left: 0;
    width: 266px;
    height: 266px;
    background: url(/public/img/score/powerball/result_board_red.png) no-repeat;
    background-size: 266px 266px
}

#result_date_round {
    position: absolute;
    top: 81px;
    left: 153px;
    font-size: 17px;
    font-weight: 600
}

#result_txt_power {
    position: absolute;
    top: 110px;
    left: 127px
}

#result_txt_power_oddeven {
    position: absolute;
    top: 110px;
    left: 160px
}

#result_txt_power_underover {
    position: absolute;
    top: 110px;
    left: 193px
}

#result_txt_sum {
    position: absolute;
    top: 149px;
    left: 95px
}

#result_txt_sum_size {
    position: absolute;
    top: 149px;
    left: 127px
}

#result_txt_sum_oddeven {
    position: absolute;
    top: 149px;
    left: 160px
}

#result_txt_sum_underover {
    position: absolute;
    top: 149px;
    left: 193px
}

#result_board #result_date_round {}

#result_board .result_txt {
    width: 42px;
    height: 42px;
    background: url(/public/img/score/powerball/result_ball.png) no-repeat;
    background-size: 225px 45px;
    font-family: swagger, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 3.15em;
    letter-spacing: -.1em;
    background-position: -136px 0
}

#result_board .result_txt.blue {
    background-position: 0 0
}

#result_board .result_txt.red {
    background-position: -45px 0
}

#result_board .result_txt.green {
    background-position: -90px 0
}

#result_board .result_txt.black {
    background-position: -137px 0
}

#result_board .result_txt.powerball {
    background-position: -180px 0
}



.lottery_wrap .contents .tit_wrap .section_tit {
    margin-bottom: 0;
    margin-top: 0px;
}

.lottery_wrap .contents .section_tit {
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    letter-spacing: -.05em;
    margin-bottom: 12px;
}
.lottery_wrap .contents .section_tit:before {
    content: '';
    width: 4px;
    height: 20px;
    background-color: #3f4e8e;
    margin-right: 5px;
    border-radius: 2px;
}
.lottery_wrap.dark .section_tit:before {
    background-color:transparent;
}

.lottery_wrap.dark .contents .side .result_history {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #0f3359;
    border-radius: 5px;
}
.lottery_wrap .contents .side .result_history>li:not(:last-child) {
    margin-bottom: 3px;
}
.lottery_wrap.dark .contents .side .result_history>li, .lottery_wrap.dark .contents .center .ai_pick_item, .lottery_wrap.dark .contents .side .ai_pick_item {
    background-color: #002042;
    border: 1px solid #264668;
    border-radius: 5px;
}
.lottery_wrap .contents .side .result_history>li {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #f3f3f3;
}
.lottery_wrap .contents .result_history>li {
    border-radius: 5px;
    overflow: hidden;
}
.lottery_wrap .contents .side .result_history .round {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lottery_wrap .contents .side .result_history .balls_wrap {
    padding: 5px 5px;
}
.lottery_wrap .contents .side .result_history .round>span {
    color: #fff;
    margin-left: 3px;
}
.lottery_wrap .contents .side .result_history .round>p {
    font-size: 13px;
}

.result_ball.n6 {
    background-position: -87px 0;
}
.result_ball.red {
    width: 32px;
    height: 32px;
    background: url(/assets/images/pick/red.png) no-repeat ;
    color: #000;
}
.result_ball.blue {
    width: 32px;
    height: 32px;
    background: url(/assets/images/pick/blue.png) no-repeat ;
    color: #000;
}
.result_ball.green {
    width: 32px;
    height: 32px;
    background: url(/assets/images/pick/green.png) no-repeat ;
    color: #000;
}
.result_ball.yellow {
    width: 32px;
    height: 32px;
    background: url(/assets/images/pick/orange.png) no-repeat ;
    color: #000;
}
.result_ball.pb {
    width: 32px;
    height: 32px;
    background: url(/assets/images/powerball/black.svg);
    color: #fff;
}


.stopped_balls{
    width: 235px;
    position: absolute;
    bottom: 85px;
    left: 100px;
}


#lotteryBall {
    position: absolute;
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 32px;
}

.bulb-img{
    position: absolute;
    width: 288px;
    left: 56px;
    top: 0px;
    z-index: 1;
}

.animations{
    -webkit-animation : spin 0.8s linear infinite;
    -moz-animation : spin 0.8s linear infinite;
    animation : spin 0.8s linear infinite;
}

.zoomin{
    -webkit-animation:zoom-in-zoom-out 0.5s ease-out forwards;
    -moz-animation:zoom-in-zoom-out 0.5s ease-out forwards;
    animation: zoom-in-zoom-out 0.5s ease-out forwards;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}
#ready-screen{
    position: absolute;
    left: 147px;
    top: 107px;
    text-align: center;
}
#ready-screen div{
    background: #000;
    padding: 9px 15px 0px 15px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    min-width: 140px;
}

#ready-screen img{
    margin-top:10px;
}

#current_result{
    background: #002042;
    position: absolute;
    left: 117px;
    top: 106px;
    width: 211px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    min-height: 86px;
    display: none;
}

#current_result .result_ball{
    margin-right: 2px;
}
#current_result .result_ball:last-child{
    margin-right: 0px;
    margin-left: 11px;
}

#current_result .round{
    margin-bottom: 10px;
    border-bottom: 1px solid #1d3c5e;
    padding-bottom: 5px;
}


.ready-txt{
    margin: 7px;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 2px #181717, 0 0 1em white, 0 0 0.2em white;
}

.pick-part{
  position: absolute;
  z-index: 1000;
  top: 24px;
}
