a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.categoryTit ul {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0 0 5px 0;
    border-top: 2px solid #0E609C;
    border-bottom: 1px solid #dddddd;
    background-color: #F1F1F1;
}
.categoryTit ul li {
    list-style: none;
    float: left;
    width: 100px;
    text-align: center;
    border-right: 1px solid #dddddd;
}
.categoryTit ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}
.categoryTit ul li a.on {
    background-color: #127CCB;
    border-top: none;
    margin-top: -1px;
    border: 1px solid #0E609C;
    color: #fff;
}

.td_blind{
    background-color: #efefef;
}
.cnt_cmt {
    font-weight: normal;
    color: #C11A20;
}
.msg_sound_only, .sound_only {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
    border: 0 !important;
    overflow: hidden !important;
}
.btn_bo_user {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.bo_fx ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn_bo_user li {
    float: left;
    margin-left: 5px;
}
a.btn_b02 {
    background-color: #ec0000;
    border: 1px solid #cc0000;
}
a.btn_b02 {
    display: inline-block;
    padding: 7px 7px;
    border: 1px solid #151515;
    background: #4C4C4C;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}
.tbl_head01 td {
    border-bottom: 1px solid #f4f4f4;
}
#bo_sch {
    margin-bottom: 10px;
    padding-top: 5px;
    text-align: center;
}
#bo_sch {
    padding-bottom: 20px;
}

#sfl {
    height: 24px;
    border: 1px solid #d5d5d5;
}

.frm_input {
    height: 22px;
    border: 1px solid #d5d5d5;
    padding: 0 5px;
    background-color: #fff !important;
}
#bo_sch .btn_search{
    vertical-align: middle;
}