body, input, textarea, select, table, button {
    line-height: 15px;
    font-family: Dotum,Gulim,AppleGothic,Sans-serif;
    font-size: 12px !important
}

* {
    margin: 0 !important;
    padding: 0;
}

ul, ol {
    list-style: none;
}

img, fieldset, iframe {
    border: 0 none;
    vertical-align: middle;
}
.box-chatting {
    width: 100%;
    position: relative;
    z-index: 10;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e9ecef;
}

.box-chatting .btn-etc {
    position: relative;
    z-index: 10;
    background: #efefef;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.box-chatting .btn-etc .cnt {
    color: #4c4c4c;
}

.box-chatting .btn-etc .cnt * {
    vertical-align: middle;
}

.sp-bl_pp {
    width: 25px;
    height: 25px;
    background: url(/assets/images/powerball/sp_chat.png) -608px -139px;
    display: inline-block;
}

.box-chatting .btn-etc .cnt span {
    font-weight: bold;
}


.box-chatting .btn-etc ul.ul-1 {
    position: absolute;
    top: 0;
    right: 0;
}

.box-chatting .btn-etc ul.ul-1 li {
    float: left;
    border-left: 1px solid #cecece;
}



.sp-btn_chat2 {
    width: 28px;
    height: 25px;
    background: url(/assets/images/powerball/sp_chat.png) -106px -490px;
    display: block;
}

.sp-btn_chat1 {
    width: 28px;
    height: 25px;
    background: url(/assets/images/powerball/sp_chat.png) -154px -490px;
    display: block;
}

.sp-btn_chat5 {
    width: 28px;
    height: 25px;
    background: url(/assets/images/powerball/sp_chat.png) -463px -430px;
    display: block;
}

.sp-btn_chat4 {
    width: 28px;
    height: 25px;
    background: url(/assets/images/powerball/sp_chat.png) -10px -490px;
    display: block;
}

.sp-btn_chat3 {
    width: 28px;
    height: 25px;
    background: url(/assets/images/powerball/sp_chat.png) -550px -443px;
    display: block;
}

.box-chatting .table-type-1 {
    position: relative;
    z-index: 10;
    background: #fff;
}


#msgBox {
    font-size: 12px;
    word-wrap: break-word;
    overflow-y: scroll;
}

#msgBox li {
    position: relative;
}

.box-chatting .list-chatting {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 5px 0 5px;
}

.box-chatting .list-chatting li {
    color: #5e5e5e;
    padding: 0 0 0 0;
    margin: 5px 0 !important;
    line-height: 24px;
}

.box-chatting .list-chatting li strong {
    color: #404040;
}

#msgBox .msg-auto {
    background-color: #1C701C;
    border: 1px solid #155515;
    min-height: 22px;
    line-height: 22px;
    color: #fff;
    padding: 0 5px;
    margin: 3px 0;
}

#msgBox .msg-auto span, #msgBox .msg-auto a{
    color: yellow;
}

#msgBox li.superchat {
    color: #9545b4;
}

#msgBox .msg-guide {
    background-color: #00b4b4;
    border: 1px solid #00b4b4;
    min-height: 22px;
    line-height: 22px;
    color: #fff;
    padding: 0 5px;
    margin: 3px 0;
}

#msgBox .msg-system {
    background-color: #cb500e;
    border: 1px solid #9d3e0b;
    min-height: 22px;
    line-height: 22px;
    color: #fff;
    padding: 0 5px;
    margin: 3px 0;
}

#msgBox .msg-system span, #msgBox .msg-system a {
    color: yellow;
}

#msgBox .msg-macro {
    background-color: #4c4c4c;
    border: 1px solid #262626;
    min-height: 22px;
    line-height: 22px;
    color: #fff;
    padding: 0 5px;
    margin: 3px 0;
}

#msgBox .msg-macro span, #msgBox .msg-macro a {
    color: yellow;
}

.box-chatting .input-chatting {
    position: relative;
    background: #e2e2e2;
    margin-bottom: 0px;
}

.box-chatting .input-chatting .label {
    position: absolute;
    top: 5px;
    left: 6px;
    color: #949494;
}

.box-chatting .input-chatting .input-1 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #949494;
    padding: 0 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none !important;
    border-top: 1px solid #e9ecef;
}

.box-chatting .input-chatting .input-2 {
    position: absolute;
    top: 2px;
    right: 2px;
    *top: 3px;
    border: none;
}

.sp-btn_enter {
    width: 22px;
    height: 22px;
    background: url(/assets/images/powerball/sp_chat.png) -608px -215px;
}

#myTab .nav-item{
    width: 25%;
    text-align: center;
    border-right: 1px solid #cecece;
}

#myTab .nav-item:last-child{
    border-right: none;
}

#myTab{
    background: #e2e2e2;
    border-bottom: none;
}

.table-type-1 .nav-link{
    padding: 0rem  0rem;
}

.table-type-1 .nav-tabs .nav-item.show .nav-link, .table-type-1 .nav-tabs .nav-link.active {

    border-top: #00b4b4 1px solid;
    border-right: #00b4b4 1px solid;
    border-left: #00b4b4 1px solid !important;
    font-weight: 700;
    background: white;
}

.table-type-1 .nav-tabs  .nav-link{
    border-radius: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #00b4b4;
    background: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    color: #919394;
}

.box-chatting .list-room li {
    position: relative;
    color: #5e5e5e;
    height: 52px;
    line-height: 25px;
    margin: 0;
    border-bottom: 1px dotted #CECECE;
    padding: 2px 5px;
}

.bgYellow {
    background-color: #FFFFD9;
}
.box-chatting .list-room li .thumb.red {
    border: 1px solid #A30D0D;
}

.box-chatting .list-room li .thumb {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 40px;
    height: 40px;
    border: 1px dotted #CECECE;
    cursor: pointer;
}

.box-chatting .list-room li .title {
    margin-left: 55px !important;
    font-family: tahoms,dotum;
    font-size: 11px;
    font-weight: normal;
}
.box-chatting .list-room li .sub {
    margin-left: 55px !important;
    font-family: tahoma,dotum;
}

.box-chatting .list-room li .date {
    position: absolute;
    right: 10px;
    font-weight: normal;
    font-size: 11px;
    color: #a29c9b;
}

.box-chatting .list-room li .thumb.red .winFixCnt {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 15px;
    height: 15px;
    background-color: #A30D0D;
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 11px;
}

.box-chatting .list-room li .thumb img {
    width: 40px;
    height: 40px;
}

.box-chatting .list-room li .opener {
    position: absolute;
    top: 26px;
    left: 130px;
}

.box-chatting .list-room li .title .win {
    color: #c11a20;
}

.box-chatting .list-room li .title .lose {
    color: #1265cd;
}

.box-chatting .list-room li .sub .b {
    color: #14805E;
}

.b {
    font-weight: bold;
}

.box-chatting .list-room li .badge4 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.sp-badge5_s {
    width: 38px;
    height: 56px;
    background: url(/assets/images/powerball/sp_chat.png) -550px -367px;
}

.box-chatting .list-connect li {
    color: #5e5e5e;
    line-height: 24px;
    border-bottom: 1px dotted #CECECE;
    font-weight: bold;
    padding: 5px;
}

#connectList li:nth-child(even) {
    background-color: #f9f9f9;
}
#ruleBox {
    border: 1px solid #CECECE;
}
#ruleBox .borderBox {
    background-color: #F5F5F5;
    margin: 5px;
    padding: 10px;
}
#ruleBox .borderBox .tit {
    color: #C11A20;
    font-weight: bold;
}
#ruleBox .borderBox ul {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 11px;
    line-height: 18px;
}

.box-menus td{
    border: #233b69 1px solid;
    border-top : #233b69 1px solid !important;
    cursor: pointer;
}

.box-menus .active{
    background: #233b69;
}
.box-menus  a{
    color: #233b69;
}
.box-menus .active a{
    color: #fff;
}

#msgBox .msg-odd {
    background-color: #156AEA;
    border: 1px solid #1156bd;
    min-height: 22px;
    line-height: 22px;
    color: #fff;
    padding: 0 5px;
    margin: 3px 0;
    text-align: center;
}

#msgBox .msg-even {
    background-color: #C11A20;
    border: 1px solid #B01D1D;
    min-height: 22px;
    line-height: 22px;
    color: #fff;
    padding: 0 5px;
    margin: 3px 0;
    text-align: center;
}
#msgBox .msg-odd span, #msgBox .msg-even span {
    color: yellow;
}
.box-chatting .list-room {
    overflow: auto;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding: 0;
}

.box-chatting .list-connect {
    position: relative;
    overflow: auto;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
#ruleBox .borderBox ul {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 11px;
    line-height: 18px;
}


#userLayer {
    display: block;
    position: absolute;
    min-width: 200px;
    border: 1px solid #0E578D;
    z-index: 10000;
    top: -1000px;
}

#userLayer .lutop {
    padding: 0 20px 0 10px;
    height: 26px;
    line-height: 25px;
    font-weight: bold;
    color: #fff;
    background: #00b4b4;
}

#userLayer .game {
    background-color: #e4fce4;
    padding: 3px 5px;
    border-bottom: 1px dotted #d5d5d5;
}

#userLayer .game ul li {
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    font-family: tahoma,dotum;
    color: #535353;
}

#userLayer .ubody a {
    display: block;
    margin-bottom: -1px;
    padding-left: 5px;
    height: 21px;
    border: 1px solid #f8f8f8;
    font-size: 11px;
    overflow: hidden;
    color: #535353;
}
#userLayer .ubody a .ico {
    float: left;
    margin: 3px 3px 0 0;
    width: 0;
    height: 0;
}
#userLayer .ubody a .txt {
    float: left;
    margin-top: 4px !important;
    height: 14px;
    line-height: 14px;
}
#userLayer .ubody {
    padding: 4px;
    background-color: #f8f8f8;
}


#userLayer .game ul li .win {
    color: red;
}
#userLayer .game ul li .lose {
    color: blue;
}

#userLayer .ubody a:hover {
    position: relative;
    border: 1px solid #dad9d8;
    background-color: #f0f0f0;
    color: #000;
    z-index: 10;
}
.uname{
    color: #00b4b4;
}

.sp-win2 {
    width: 11px;
    height: 11px;
    background: url(/assets/images/powerball/sp_chat.png) -289px -566px;
}

.sp-win3 {
    width: 11px;
    height: 11px;
    background: url(/assets/images/powerball/sp_chat.png) -258px -566px;
}

.sp-win4 {
    width: 11px;
    height: 11px;
    background: url(/assets/images/powerball/sp_chat.png) -227px -566px;
}

.sp-win5 {
    width: 11px;
    height: 11px;
    background: url(/assets/images/powerball/sp_chat.png) -227px -566px;
}
.sp-win6 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -165px -566px;}
.sp-win7 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -134px -566px;}
.sp-win8 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -103px -566px;}
.sp-win9 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -72px -566px;}
.sp-win10 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -41px -566px;}
.sp-win11 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -10px -566px;}
.sp-win12 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -599px -535px;}
.sp-win13 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -568px -535px;}
.sp-win14 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -537px -535px;}
.sp-win15 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -506px -535px;}
.sp-win16 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -475px -535px;}
.sp-win17 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -408px -490px;}
.sp-win18 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -320px -566px;}
.sp-win19 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -320px -535px;}
.sp-win20 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -382px -566px;}
.sp-win21 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -413px -566px;}
.sp-win22 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -444px -566px;}
.sp-win23 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -608px -257px;}
.sp-win24 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -608px -410px;}
.sp-win25 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -511px -430px;}
.sp-win26 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -346px -490px;}
.sp-win27 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -377px -490px;}
.sp-win28 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -475px -566px;}
.sp-win29 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -439px -490px;}
.sp-win30 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -470px -490px;}
.sp-win31 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -501px -490px;}
.sp-win32 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -532px -490px;}
.sp-win33 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -563px -490px;}
.sp-win34 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -594px -490px;}
.sp-win35 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -10px -535px;}
.sp-win36 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -41px -535px;}
.sp-win37 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -72px -535px;}
.sp-win38 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -103px -535px;}
.sp-win39 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -134px -535px;}
.sp-win40 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -165px -535px;}
.sp-win41 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -196px -535px;}
.sp-win42 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -227px -535px;}
.sp-win43 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -258px -535px;}
.sp-win44 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -289px -535px;}
.sp-win45 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -608px -184px;}
.sp-win46 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -351px -535px;}
.sp-win47 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -382px -535px;}
.sp-win48 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -413px -535px;}
.sp-win49 {width:11px;height:11px;background:url(/assets/images/powerball/sp_chat.png) -444px -535px;}

.sp-badge5_s {width:37px;height:53px;background:url(/assets/images/powerball/badge/badge5.png) }
.sp-badge10_s {width:37px;height:53px;background:url(/assets/images/powerball/badge/badge10.png)}
.sp-badge15_s {width:37px;height:53px;background:url(/assets/images/powerball/badge/badge15.png) }
.sp-badge20_s {width:37px;height:53px;background:url(/assets/images/powerball/badge/badge20.png) }
#msgBox li.superchat .uname .familyNick {
    color: #d95904;
}

.sp-badge5 {width:8px;height:8px;background:url(/assets/images/powerball/sp_chat.png) -625px -490px;}
.sp-badge10 {width:8px;height:13px;background:url(/assets/images/powerball/sp_chat.png) -10px -597px;}
.sp-badge15 {width:8px;height:18px;background:url(/assets/images/powerball/sp_chat.png) -608px -327px;}
.sp-badge20 {width:8px;height:23px;background:url(/assets/images/powerball/sp_chat.png) -608px -367px;}


.box-chatting .list-room li .badge1 {position:absolute;top:0;right:66px;z-index:96;}
.box-chatting .list-room li .badge2 {position:absolute;top:0;right:44px;z-index:97;}
.box-chatting .list-room li .badge3 {position:absolute;top:0;right:22px;z-index:98;}
.box-chatting .list-room li .badge4 {position:absolute;top:0;right:0;z-index:99;}

#msgBox .msg-gift {
    background-color: #00b4b4;
    border: 1px solid #00b4b4;
    min-height: 22px;
    line-height: 22px;
    color: #fff;
    padding: 0 5px;
    margin: 3px 0;
    text-align: center;
    font-size: 11px;
}
.bulletBox {
    position: relative;
    height: 142px;
    background: url(/assets/images/powerball/dangun-gift.png) center 10px no-repeat;
    text-align: center;
    padding-top: 59px;
}
.bulletBox .cnt {
    margin-top: -18px !important;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

#msgBox li img {
    vertical-align: middle;
}

#msgBox .msg-gift span{
    color: yellow;
}
