@font-face {
    font-family: 'nexon_lv_thic';
    src: URL('/assets/font/nanum/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'nexon_lv_thin';
    src: URL('/assets/font/nanum/NotoSansKR-Thin.otf') format('opentype');
}


@font-face {
    font-family: 'nexon_lv_otf';
    src: URL('/assets/font/NEXON LV2 GOTHIC OTF.OTF') format('truetype');
}

@font-face {
    font-family: 'nexon_lv_otf_medium';
    src: URL('/assets/font/NEXON LV2 GOTHIC OTF MEDIUM.OTF') format('truetype');
}

@font-face {
    font-family: 'notobold';
    src: URL('/assets/font/nanum/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'nanumseb';
    src: URL('/assets/font/nanum/NanumSquareRoundEB.ttf') format('truetype');
}

@font-face {
    font-family: 'robotobold';
    src: URL('/assets/font/nanum/Roboto-Bold_0.ttf') format('truetype');
}



