.marketBox {
    color: #666666;
}

.marketBox .content {
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    font-size: 12px;
    line-height: 20px;
}
.marketBox .title {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.marketBox .title ul li a.on {
    display: block;
    background-color: #00b4b4;
    color: #fff;
    font-weight: bold;
    border: 1px solid #00b4b4;
    height: 30px;
    border-right: none;
}
.marketBox .title ul li a {
    float: left;
    padding: 0 30px;
    border: 1px solid #cfd2d4;
    border-right: none;
    color: #333;
    text-decoration: none;
}
.marketBox .title ul li:nth-child(3) a{
    border-right: solid #cfd2d4 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.marketBox .title ul li:nth-child(1) a{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.marketBox .title ul li.free {
    float: right;
    border-left: 1px solid #D5D5D5;
    border-right: none;
}
.marketBox .title ul li.right {
    float: right;
    border-left: 1px solid #D5D5D5;
    border-right: none;
}
.marketBox .title ul li.right a {
    background-color: #00b4b4;
    color: #fff;
    border: 1px solid #00b4b4;
    margin: -1px -1px 0 -1px;
    border-radius: 5px;
}
.marketBox .title ul li.free a {
    background-color: #fff;
    color: #000;
    border: 1px solid #00b4b4;
    margin: -1px -1px 0 -1px;
}
.marketBox .content .tit.none {
    margin-top: 0;
}
.marketBox .content .tit {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 0px;
    margin: 10px 6px 0 6px;
}
.marketBox .content .bonus .tit{
    background: #0059b3;
    color: #fff;
    font-size: 11px;
    margin: 10px 6px 0 6px;
    padding: 2px;
}
.marketBox .itemList {
    padding: 0 0 0 3px;
}
.marketBox .itemList li {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 290px;
    border: 1px solid #C8C5C5;
    background-color: #fff;
    padding: 0 13px;
    margin: 5px 3px;
    vertical-align: top;
    border-radius: 5px;
}
.marketBox .itemList li .edge {
    position: absolute;
    top: -10px;
    left: -5px;
}
.marketBox .itemList li .edge:nth-child(2){
    left: 37px;
}
.marketBox .itemList li img {
    margin: 5px auto;
    display: block;
}
.marketBox .itemList li .name {
    font-size: 13px;
    font-weight: bold;
}
.marketBox .itemList li .bonus {
    font-size: 11px;
}
.marketBox .itemList li .desc {
    margin: 10px 0;
    font-size: 11px;
    line-height: 16px;
    max-height: 60px;
    color: #8b8b8b;
}
.marketBox .itemList li .priceBox {
    position: absolute;
    bottom: 15px;
}
.marketBox .itemList li .price {
    font-family: DINWeb-Bold;
    text-align: center;
    color: #00b4b4;
    font-weight: bold;
    margin-bottom: 10px;
}
.marketBox .amountSet .up {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 14px;
    cursor: pointer;
}
.marketBox .amountSet .down {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 14px;
    cursor: pointer;
}
.marketBox .amountSet input {
    border: none;
    width: 45px;
    height: 27px;
    line-height: 27px;
    margin: 1px;
    text-align: center;
}
.marketBox .amountSet {
    position: relative;
    float: left;
    width: 62px;
    height: 29px;
    background: url(https://simg.powerballgame.co.kr/images/bg_amount.png) no-repeat;
}
.marketBox .itemList li .btn-g {
    float: left;
    margin-left: 5px;
}
.bonus .exp{
    color: #b92626;
    font-weight: bold;
}

.marketBox .chargeBox {
    margin: 15px;
    background: url(https://simg.powerballgame.co.kr/images/bg_coin.png) right top no-repeat;
}

.marketBox .chargeBox .text {
    color: #333;
    margin: 20px 0;
}
.marketBox .subtitle {
    display: inline-block;
    background-color: #127CCB;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
    border: 1px solid #0E609C;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
}

.marketBox .coinList {
    padding: 0 0 0 0;
}

.marketBox .coinList li {
    position: relative;
    display: inline-block;
    width: 153px;
    height: 160px;
    border: 1px solid #D5D5D5;
    background-color: #fff;
    padding: 0 15px;
    margin: 0 6px 10px 0;
    cursor: pointer;
}
.marketBox .coinList li .price {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: tahoma,dotum;
}
.marketBox .coinList li img {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 128px;
}
.grayscale {
    filter: url(data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray;
}
.marketBox .coinInput {
    padding: 20px;
    border: 1px solid #D5D5D5;
    background-color: #fff;
    margin-bottom: 10px;
}

.marketBox .coinInput .input {
    vertical-align: middle;
    width: 128px;
    height: 32px;
    text-align: right;
    font-weight: bold;
    font-family: tahoma;
    padding: 0 5px 0 0;
    border: 1px solid #D5D5D5;
    margin-left: 5px;
}
.marketBox .chargeBox .depositBox {
    position: relative;
    border: 1px solid #d5d5d5;
    background-color: #fefefe;
    margin: 0 0 15px 0;
    padding: 0 10px;
}
.marketBox .chargeBox .depositBox table {
    width: 100%;
}
.marketBox .chargeBox .depositBox table th {
    text-align: left;
    padding-left: 10px;
    width: 170px;
    height: 40px;
    border-bottom: 1px dotted #D2D2D2;
}
.marketBox .chargeBox .depositBox table td {
     border-bottom: 1px dotted #D2D2D2;
 }


.marketBox .chargeBox .depositBox table td .price {
    font-size: 18px;
    font-weight: bold;
    font-family: tahoma;
    color: #CD1212;
}

.marketBox .chargeBox .chargeBtn .btn {
    display: block;
    width: 210px;
    height: 40px;
    margin: 0 auto;
    text-shadow: 1px 1px 1px #2f447f;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: #CC3300;
    border: 1px solid #9c1818;
    border-radius: 3px;
}

.marketBox .coinInput .plusCoin {
    display: inline-block;
    width: 50px;
    height: 32px;
    line-height: 32px;
    background-color: #efefef;
    color: #000;
    border: 1px solid #c6c6c6;
    text-align: center;
    vertical-align: middle;
}

.grayscale.grayscale-fade:hover, .grayscale.grayscale-off {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.marketBox .coinList li.on {
    border: 1px solid #127CCB;
}
