@import url("/assets/css/font.css");
* {
  margin: 0;
  padding: 0;
    font-family: "nexon_lv_thic";
}
ul, ol {
  list-style: none;
}
.h-55{
    height: 55px;
}
.table-bordered td, .table-bordered th{
    border-color: #bec0c2;
}
.table thead th{
    border-color: #bec0c2;
}
#topArea .gnb ul{
    width: 1165px;
    margin: auto;
}
#topArea .gnb ul:after{
    display: block;
    clear: both;
    content: "";
}
#topArea .gnb ul li {
    position: relative;
    float: left;
    overflow: hidden;
}

#topArea .gnb {
    width: 100%;
    height: 50px;
    background: #00b4b4;
    margin: auto;
}

#topArea .gnb ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 25px !important;
    color: #fff;
    letter-spacing: -1px;
    font-size: 16px !important;
}

#topArea .gnb ul li a.on {
    position: relative;
    top: -1px;
    left: -1px;
    background: #007f7f;
    border: 1px solid #007f7f;
}

#topArea .gnb ul li a.on .border-half{
    display: none;
}
.ll-he23{
    line-height: 23px;
    height: 23px;
}

.grades{
    font-size: 15px;
    color: #000;
    max-width: 49px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
}

.ja-color{
    color: #666666;
}

.simu-head span{
    font-family: nanumseb;
    font-size: 15px;
}


body, input, textarea, select, table, button {
  line-height: 15px;
  font-size: 12px;
}
.disabled{
    pointer-events: none;
}

.w-100{
    width: 100%;
}

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.border-top-bora,td.border-top-bora,th.border-top-bora{
    border-top: 2px solid #00b4b4 !important;
}
.border-bottom-bora,td.border-bottom-bora,th.border-bottom-bora{
    border-bottom: 2px solid #00b4b4 !important;
}
.border-right-bora,td.border-right-bora,th.border-right-bora{
    border-right: 2px solid #00b4b4 !important;
}
#box-ct .inner-left, #box-ct .inner-right {
    float: left;
    position: relative;
}

#box-ct .inner-right {
    width: 830px;
}
#container {
  position: relative;
  width: 1164px;
  margin: auto;
}
#wrap {
  width: 100%;
}
#topArea {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
}

#topArea .logo {
    width: 1165px;
    margin: auto;
    padding-bottom: 10px;
    position: relative;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

img, fieldset, iframe {
  border: 0 none;
  vertical-align: top;
}

#topArea .text {
  position: absolute;
  top: 15px;
  left: 250px;
}

#box-ct {
    padding: 10px 0 21px 0;
}

#box-ct .inner-left {
    width: 309px;
    margin-right: 16px;

}

#topArea .text .notice a {
  font-size: 11px;
  color: #0D568C;
}

#topArea .text .guide {
  margin-top: 3px;
}

#topArea .text .guide a {
  font-size: 11px;
  color: #b70004;
}


#box-ct .inner-left .box-login {
   border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    padding: 4px 0px 0px 0px;
    position: relative;
    margin-bottom: 0px;
    border-radius: 5px;
}

.box-login .loginUserInfo {
  float: left;
  margin-top: 5px;
  width: 155px;
}

.b {
  font-weight: bold;
}

.box-login .loginUserInfo ul li.level {
  font-size: 11px;
  color: #7f7f7f;
  margin-top: 5px;
}

.box-login .loginUserInfo ul li.exp {
  font-size: 11px;
  color: #7f7f7f;
  margin-top: 5px;
}

.box-login .btn li {
  height: 30px;
  line-height: 30px;
  float: left;
  width: 33%;
  text-align: center;
  font-size: 11px;
  border-right: 1px solid #CDCDCD;
}
.box-login .btn {

}

.box-login .btn li a {
  display: block;
  color: #747379;
  padding-top: 11px;
}

.itemCntBox {
    position: absolute;
    top: -12px;
    left: 39px;
    background: red;
    background-size: 25px;
    color: #fff;
    z-index: 99;
    line-height: 19px;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    min-width: 22px;
    min-height: 22px;
}

.box-login .loginUserInfo ul li .logout {
  position: absolute;
  top: 3px;
  right: 0;
  background: url(https://simg.powerballgame.co.kr/images/icon_logout.png) left center no-repeat;
  font-size: 11px;
  font-weight: normal;
  color: #737478;
  padding-left: 16px;
}

.box-login .loginCoinInfo {
  float: right;
  width: 150px;
  border: 1px solid #dedddc;
  background-color: #fdfdfd;
}

.box-login .loginCoinInfo ul li {
  position: relative;
  line-height: 13px;
  border-bottom: 1px solid #f6f6f6;
  padding: 3px;
  font-size: 11px;
  color: #8c8c8c;
}

.box-login .loginCoinInfo ul li.none {
  border-bottom: none;
}

.box-login .loginCoinInfo ul li a.charge {
  position: absolute;
  top: 2px;
  left: 30px;
  width: 30px;
  height: 13px;
  line-height: 15px;
  border: 1px solid #CC0000;
  background-color: #EC0000;
  color: #fff;
  text-align: center;
}

.box-login .loginCoinInfo ul li a {
  float: right;
}

#box-ct .inner-left .box-login .btn_login {
  display: block;
  text-align: center;
  width: 284px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  font-size: 16px;
  letter-spacing: -1px;
  border: 1px solid #0e609c;
  border-radius: 3px;
  box-sizing: border-box;
  background: #127ccb;
  vertical-align: top;
}

#box-ct .inner-left .box-login .login_menu {
  width: 284px;
  margin-top: 10px;
}

#box-ct .inner-left .box-login .login_menu .right {
  float: right;
}

#box-ct .inner-left .box-login .notice {
  position: relative;
  overflow: hidden;
  height: 25px;
  background: #f0f5f5;
  z-index: 10;
  position: relative;
  padding-left: 50px;
}

#box-ct .inner-left .box-login .notice a {
  color: #454545;
  display: block;
  height: 23px;
  line-height: 23px;
    font-size: 14px;
}

#box-ct .inner-left .box-login .notice img {
  position: absolute;
  top: 0;
  left: 0;
}

.boardBox{
    border-top: none;
}

.boardBox .listBox {
  width: 622px;
  height: 170px;
}

.boardBox .listBox .left {
  float: left;
  width: 311px;
  height: 170px;
}

.boardBox .listBox .bar {
  float: left;
  width: 1px;
  height: 160px;
  margin: 5px 0;
  background-color: #ebebeb;
}

.boardBox .listBox .right {
  float: right;
  width: 310px;
  height: 170px;
}

.boardBox .listBox ul.list {
  clear: both;
  width: 100%;
  padding: 5px;
}
.boardBox .listBox ul.list li {
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boardBox .listBox ul.list li img {
  vertical-align: middle;
}

.boardBox .listBox ul.list li .comment {
    color: #C11A20;
    font-weight: bold;
}

#boardmenu{
    border: none;
}

#boardmenu .nav-item:first-child .nav-link{
    border-left: none;
    border-top-left-radius: 5px;
}
#boardmenu .nav-item:last-child .nav-link{
    border-top-right-radius: 5px;
}

#boardmenu .nav-item{
    width: 155px;
    text-align: center;
}

#boardmenu .nav-item:last-child{
    width: 157px;
}

#boardmenu .nav-item.show .nav-link, #boardmenu .nav-link.active {
    border-bottom: none;
    border-top: #00b4b4 1px solid !important;
    border-right: #00b4b4 1px solid !important;
    border-left: #00b4b4 1px solid !important;
    font-weight: 700;
    background: none;
    color: #000;
}

.border-half {
    position: absolute;
    height: 33%;
    top: 36%;
    background: linear-gradient(90deg, #25d9d9, #00b4b4);
    width: 2px;
    right: -2px;
    border-radius: 25px;
}

#boardmenu  .nav-link.none {
  /*width: 159px;*/
  border-right: none ;
}

#boardmenu .nav-link{
    border-radius: 0px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #00b4b4;
    background: #f4f5f7fa;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    border-top: 1px solid #ddd;
    color: #919394;
}


.boardBox {
    float: left;
    width: 624px;
    height: 207px;
    margin-bottom: 5px;
    float: left;
    border: 1px solid #cfd2d4;
    border-radius: 7px;
    border-top: none;
}

.boardBox .listBox ul.list li.photo {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 76px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.boardBox .listBox ul.list li.photo .image {
  position: absolute;
  left: -9px;
  top: -12px;
  width: 100px;
  height: 100px;
}


#footer dl {
    padding: 15px 0 10px 0;
}

#box-ct .inner-left:after, #box-ct .inner-right:after {
    content: '';
    display: block;
    clear: both;
}
#box-ct:after {
    content: '';
    display: block;
    clear: both;
}

#box-ct{
    clear: both;
}
#footer {
    width: 1236px;
    border-top: 1px solid #deded9;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}



.border-jinblue th{
    border:1px solid #c0cee6;
}

.table-init{
    margin: auto;
}
.table-init td,.table-init  th {
    border:none
}

.table-init td, .table-init th{
    padding: .34rem;
}

.back-gray{
    background-color: #ebebeb;
}

.table-gray td{
    border: 1px solid #d6d6d6;
}

thead.thead-gray{
    background-color: #ebebeb;
}
.table-bordered thead td, .table-bordered thead th{
    border-bottom-width:1px !important;
}

.border-left-none{
    border-left: none !important;
}
.border-right-none{
    border-right: none !important;
}
.border-top-none{
    border-top: none !important;
}
.border-bottom-none{
    border-bottom: none !important;
}
.pow-element {
    font-size: 14px;
    background: url(/assets/images/powerball/black.svg) no-repeat;
    background-size: 26px;
    border-radius: 100px;
    padding: 6px 6px;
    margin-right: 4px;
    color: white;
    cursor: pointer;
}

.pow-element-red {
    background: #e74c3c;
    background: url(/assets/images/powerball/odd.svg) no-repeat;
    background-size: 26px;
}
.pow-element-blue {
    background: url(/assets/images/powerball/even.svg) no-repeat;
    background-size: 26px;
}

.form-control-custom{
    font-size: 1rem;
    line-height: 1.25;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-clip: padding-box;
    padding: 0.2rem 0.05rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-image: initial;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control-custom:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
}

.td-green-btn{
    background: #b6cdff;
    border: #6279ab 1px solid !important;
    cursor: pointer;
}

.td-green-btn:hover{
    background: #8aabf3;
}

/*.table thead.border-jinblue th{*/
/*    border: #6279ab 1px solid !important;*/
/*}*/

.table thead.border-jinblue th{
    border: #6279ab 1px solid !important;
    font-weight: normal;
    font-size: 16px;
}
.table thead.jin-gradient{
    background-image: linear-gradient(180deg, #99bbfb, #7f9ddb);
    color: #fff;
}

.green-back td{
    border: #6279ab 1px solid;
}

.green-back{
    background: #b6cdff;
}
.gray_gradient{
    background: linear-gradient(180deg, #e7e7e7, #d4d4d4, #e7e7e7);
}

.btn-green{
    background: white;
    border: #bfbfbf 1px solid;
    border-radius: 0px;
    color: #5F6164;
}

.btn-jin-green{
    background: white;
    border: #00b4b4 1px solid !important;
    border-radius: 0px;
    color: #00b4b4;
}

.btn-jin-green:hover,.btn-jin-green:hover:focus,.btn-jin-green:active{
    color: #fff;
    background: #00b4b4;
}

.btn-jin-greenoutline{
    color: #fff !important;
    background: #00b4b4;
    border-radius: 0px;
    border-radius: 6px;
}

.btn-jin-greenoutline:hover{
    color: #00b4b4 !important;
    background: white;
    border: #00b4b4 1px solid;
}


.btn-jin-blue{
    background: #007f7f;
    border: #007f7f 1px solid;
    border-radius: 0px;
    color: #fff;
}

.btn-gray{
    background: linear-gradient(
        180deg
        , #e7e7e7, #d4d4d4, #e7e7e7);
    color: #000;
    border-radius: 0px;
}

.input-green{
    border-color: #00b4b4;
    border-radius: 0px;
    line-height: 25px;
    height: 25px;
    border-width: 1px;
}
.input-green:focus{
    border-color: #3b78ef !important;
    border-width: 1px !important;
    border-radius: 0px !important;
    outline: none !important;
    box-shadow: none;
}

.ft-btsize{
    font-size: 12px;
}

.ft-fitsize{
    font-size: 15px;
}

.ft-thsize{
    font-size: 13px;
}

.gray-gradient{

}

.sp-black{
    width: 34px;
    height: 34px;
    background: url(/assets/images/powerball/black.svg);
    margin: auto;
    background-size: 34px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-repeat: no-repeat;
    line-height: 34px;
}

.sp-pung{
    width: 34px;
    height: 34px;
    background: url(/assets/images/powerball/pung.svg);
    margin: auto;
    background-size: 34px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-repeat: no-repeat;
    line-height: 34px;
}

.LEFT4ODD:after,.RIGHT4EVEN:after{
    position: absolute;
    top: 0;
    content: '';
    width: 9px;
    height: 9px;
    background: url(/assets/images/sp_stats.png) no-repeat 0 -9999px;
    left: 0;
    background-position: -260px -30px;
}

.RIGHT4EVEN:after{
    position: absolute;
    top: 0;
    content: '';
    width: 9px;
    height: 9px;
    background: url(/assets/images/sp_stats.png) no-repeat 0 -9999px;
    right: 0;
    background-position: -260px -30px;
}
.LEFT3EVEN:after{
    position: absolute;
    top: 0;
    content: '';
    width: 9px;
    height: 9px;
    background: url(/assets/images/sp_stats.png) no-repeat 0 -9999px;
    left: 0;
    background-position: -240px -30px;
}

.RIGHT3ODD:after{
    position: absolute;
    top: 0;
    content: '';
    width: 9px;
    height: 9px;
    background: url(/assets/images/sp_stats.png) no-repeat 0 -9999px;
    right: 0;
    background-position: -240px -30px;
}

.sp-odd,.sp-odd2,.sp-odd3,.LEFT4ODD,.RIGHT3ODD {
    width: 30px;
    height: 30px;
    background: url(/assets/images/powerball/odd.svg);
    margin: auto;
    background-size: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-repeat: no-repeat;
    line-height: 30px;
    position: relative;
}
.sp-even,.sp-odd1,.sp-odd4,.LEFT3EVEN,.RIGHT4EVEN {
    width: 30px;
    height: 30px;
    background: url(/assets/images/powerball/even.svg);
    margin: auto;
    background-size: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-repeat: no-repeat;
    line-height: 30px;
    position: relative;
}
.sp-over {
    width: 34px;
    height: 29px;
    background: url(/assets/images/powerball/over.svg);
    margin: auto;
    background-size: 34px;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
}

.sp-under {
    width: 34px;
    height: 29px;
    background: url(/assets/images/powerball/under.svg);
    margin: auto;
    background-size: 34px;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
}

.sp-ball_bg {
    width: 30px;
    height: 30px;
    background: url(/assets/images/powerball/pb.svg);
    background-size: 30px;
    font-size: 14px;
    color: #000;
    line-height: 30px;
    margin: auto;
    font-weight: bold;
}

.btn-green-gradient{
    background-image: linear-gradient(180deg , #99bbfb, #7f9ddb);
    color: #fff;
}

.btn-green-gradient.active{
    background-image: linear-gradient(180deg, #acaeb3, #7f9ddb);
}

.btn-green-gradient.focus, .btn-green-gradient:focus{
    box-shadow: none;
}



.border-round-none{
    border-radius: 0px !important;
}

.text-pa{
    color: #32aaff;
}

.text-gam{
    color: #666666;
}


.text-blo{
    color: #666666;
}
.text-blue{
    color: #00b4b4 !important;
}

.user-info .list-item{
    line-height: 15px;
    height: 15px;
}

.coin_charge{
    background: linear-gradient(180deg, #9ebcfa, #7e9ddd,#9ebcfa);
    padding: 2px;
    color: #fff;
    border:1px solid #627aaa
}

.user-info td{
    border-top:none;
}


.btn-jin-gradient{
    background: linear-gradient(180deg, #335292, #233b69);
    border: #172a4a 1px solid;
    font-family: nexon_lv_otf_medium;
    color: #fff;
}

.btn-jin-gradient:hover,.btn-jin-gradient:focus,.btn-jin-gradient:active{
    background: linear-gradient(
        180deg
        , #335292, #5378bd);
    color: #fff
;
}

.light-medium{
    font-family: nexon_lv_otf_medium;
    font-weight: bold;
}

.modal-sm-custom {
    max-width: 500px;
}

.jin-gradient{
    background: #00b4b4;
}

.dangun-label{
    font-weight: bold;
    color:#ff5050
}

.dotori-label{
    font-weight: bold;
    color:#5b391a
}

.coin-label{
    font-weight: bold;
    color:#00b4b4
}

.back-blue{
    background: #00b4b4;
}

.text-gold{
    color: #fadb29;
}

.exp-back{
    background: url(/assets/images/powerball/exp_back.png);
    width: 120px;
    height: 18px;
    border-radius: 7px;
    background-size: 120px 18px;
}
.half-label{
    width: 199px;
    height: 1px;
    background: #b6b8ba;
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
.half-label:after{
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    left: 25%;
    border-top: 1px solid #00b4b4;
}

.closing{
    top: 10px;
    right: 15px;
    width: 68px;
    height: 24px;
    background: white;
    border: 1px solid;
    border-radius: 6px;
    border-color: #00b4b4;
}

.closing::after {
    content: "\f107";
    color: #00b4b4;
    top: 4px;
    right: 5px;
    position: absolute;
    font-family: "FontAwesome";
}

.closing[aria-expanded="true"]::after {
    content: "\f106";
}


button.closing:focus{
    outline: none;
}

.collapse-div{
    padding-bottom: 10px;
    padding-top: 20px;
    border: 1px solid #bec0c2;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.backs-pick{
    background: #a2a6a6;
    border-radius: 17px;
}
.ggray{
    background: #f0f5f5 !important;
}

.page-item.active .page-link{
    background-color: #00b4b4;
    border-color: #00b4b4;
}
.page-link{
    color: #00b4b4;
}

.btn_buy{
    background: #00b4b4;
    border: #00b4b4 1px solid;
    color: #fff;
}

.btn_buy.active, .btn_buy:active, .show>.btn_buy.dropdown-toggle,.btn_buy:hover{
    background: white;
    color: #00b4b4;
}


.btn_buyoutline{
    background: white;
    border: #00b4b4 1px solid;
    color: #00b4b4;
}

.btn_buyoutline.active, .btn_buyoutline:active, .show>.btn_buyoutline.dropdown-toggle,.btn_buyoutline:hover{
    background: #00b4b4;
    color: #fff;
}
.top-header-right
{
    position:absolute;top:13px;right:0px;
}

.header-right-1,.header-right-2{
    font-family: nanumseb;
    font-weight: bold;
    line-height: 28px;
}

.header-right-1{
    font-size: 20px;
    color: #999999;
}
.header-right-2{
    font-size: 22px;
    color: #000;
}

.bannerBox {
    float: right;
    width: 200px;
    height: 205px;
    border: 1px solid #D5D5D5;
}

.numberFont{
    background: url(/assets/images/powerball/level.svg) no-repeat;
    height: 18px;
    line-height: 18px;
    padding-left: 6px;
    color: #000;
    background-size: cover;
}

.border-right-ja{
    border-right: 1px solid #e9ecef;
}

.mar-t-10{
    margin-top: 10px;
}

.mar-t-5{
    margin-top: 5px;
}

.box-menus i.fa{
    font-size: 19px;
    color: #999999;
}


.table-bordered.jabik td, .table-bordered.jabik th{

    border: 1px solid #848687;
}

table.patternTable td:first-child .innerTable td,table.patternTable td:first-child .innerTable th{
    border-left: none !important;
}

.not-left{
    position: absolute;
    width: 35px;
    height: 25px;
    left: 0;
    background: #bfbfbf;
    color: #fff;
    padding-left: 5px;
    line-height: 25px;
    font-size: 14px;
}

.gopur_btn{
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 24px;
}

td.simu-head{
    padding-left: 6px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.boardBox .listBox ul.list li.photo img {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#bo_v_con img {
    max-width: 100%;
    height: auto;
}

.top_banner {
    position: absolute;
    border: 1px solid #00b4b4;
    border-radius: 5px;
    width: 60px;
}
.top_banner .lb1 {
    width: 100%;
    padding-bottom: 7px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid #dedcdc;
    font-weight: bold;
}

.top_banner .lb1:last-child{
    border-bottom: none;
}

.top_banner img{
    vertical-align: middle;
}
